---
import type { Options } from '@contracts'
import Favicons from '@components/Favicons.astro'
import onestWoff2 from '@fontsource-variable/inconsolata/files/inconsolata-latin-wght-normal.woff2?url'
import inconsolataWoff2 from '@fontsource-variable/onest/files/onest-latin-wght-normal.woff2?url'
import { Schema } from 'astro-seo-schema'
import '@fontsource-variable/onest'
import '@fontsource-variable/inconsolata'
import '@styles/globals.css'
import 'sanitize.css'
import 'sanitize.css/forms.css'
import 'sanitize.css/assets.css'
import 'sanitize.css/typography.css'
import 'sanitize.css/reduce-motion.css'

interface Props {
  options: Options
}

const { options } = Astro.props
const { title, description, metaRobots } = options;
---

<!doctype html>
<html dir="ltr" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>{title}</title>

    <slot name="preconnect" />

    <slot name="async-script" />

    <!-- Critical CSS -->
    <style is:inline>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        --scrollbar: #e5e5e5;
        --scrollbar-thumb: #c0c0c0;
        --scrollbar-thumb-hover: #909090;
        --scrollbar-dark: #898989;
        --scrollbar-thumb-dark: #5d5d5d;
        --scrollbar-thumb-hover-dark: #3f3f3f;
      }

      @view-transition {
        navigation: auto;
      }

      body {
        overflow-x: hidden;
      }

      body::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background: var(--scrollbar);
        transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1);
        will-change: background;
      }

      body::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
        border-radius: 0.25rem;
      }

      @media (any-hover: hover) {
        body::-webkit-scrollbar-thumb:hover {
          background: var(--scrollbar-thumb-hover);
        }
      }

      @media (prefers-color-scheme: dark) {
        html body::-webkit-scrollbar {
          background: var(--scrollbar-dark);
          transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1);
          will-change: background;
        }

        html body::-webkit-scrollbar-thumb {
          background: var(--scrollbar-thumb-dark);
        }

        @media (any-hover: hover) {
          html body::-webkit-scrollbar-thumb:hover {
            background: var(--scrollbar-thumb-hover-dark);
          }
        }
      }

      @supports not selector(::-webkit-scrollbar) {
        html,
        body {
          scrollbar-color: var(--scrollbar) var(--scrollbar-thumb);
          scrollbar-width: thin;
          scrollbar-gutter: stable;
        }

        @media (prefers-color-scheme: dark) {
          html,
          html body {
            scrollbar-color: var(--scrollbar-dark) var(--scrollbar-thumb-dark);
          }
        }
      }
    </style>

    <slot name="stylesheet" />

    <link
      as="font"
      crossorigin="anonymous"
      href={onestWoff2}
      rel="preload"
      type="font/woff2"
    />
    <link
      as="font"
      crossorigin="anonymous"
      href={inconsolataWoff2}
      rel="preload"
      type="font/woff2"
    />
    <slot name="preload" />

    <slot name="defer-script" />

    <meta content={metaRobots || 'index, follow'} name="robots" />
    {description && <meta content={description} name="description" />}
    {description && <link href={Astro.url.href} rel="canonical" />}
    <meta
      content="UXCorpRangel - https://github.com/UXCorpRangel"
      name="author"
    />
    <meta content={Astro.generator} name="generator" />

    {
      description && (
        <Schema
          item={{
            '@context': 'https://schema.org',
            '@type': 'Organization',
            name: 'JSConf Chile 2025 | La m치s prestigiosa conferencia de JavaScript',
            url: Astro.url.href,
            logo: Astro.url.href + 'og/og.jpg',
            description:
              'Acomp치침anos en la tercera edici칩n de la JSConf Chile donde tendremos Charlistas internacionales, comunidad, aprendizaje y conexiones.',
            sameAs: [
              'https://www.linkedin.com/company/jsconf-chile/',
              'https://www.instagram.com/jsconf.cl/',
              'https://x.com/jsconfcl',
              'https://www.facebook.com/jsconfcl'
            ]
          }}
        />
      )
    }

    <slot name="schema" />

    <Favicons />

    <meta content="dark light" name="color-scheme" />
    <meta content="#ee2525" name="theme-color" />

    <slot name="social-media" />
  </head>
  <body>
    <slot />

    <slot name="dynamic-components" />
  </body>
</html>
